@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.button {
color: #FFFFFF;
background-color: #756157;
}

.page-header ul{
list-style-type: none;
}

.page-header {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 990px;
}

.logo-navigation {
  margin-left: 70px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 450px;
}

.navigation-user {
  max-width: 350px;
}

.navigation-link {
  font-size: 20;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
}

.navigation-user-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  background-color: #FFFFFF;
  flex-grow: 1;
}

.hero {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../images/pictures/index-hero.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hero-description{
  font-size: 22px;
  line-height: 26px;
}

.advantages ul{
  list-style-type: none;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
}

.advantages-list-icon {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 1200px;
  align-items: center;
}

.advantages-item-icon {
  width: 400px;
  margin: 0 auto;
}

.advantages-image,
.product-card-image,
.htmlacademy-logo-image,
.logo-image {
  display: block;
  margin: 0 auto;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item:nth-child(1)>h3,
.advantages-item:nth-child(5)>h3,
.advantages-item:nth-child(1)>p,
.advantages-item:nth-child(5)>p {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 96px 304px;
  background-color: #FFFFFF;
  text-align: center;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.hotel-search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.hotel-search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
  text-decoration: none;
  align-items: center;
}

.subscribe-index {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url(../images/pictures/index-subscribe.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 258px 104px;
  text-align: center;
  background-color: #FFFFFF;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background: #82B3D3;
}

.page-footer {
  background-color: #FFFFFF;
  width: 1200px;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1060px;
}

.social-list {
  width: 250px;
  list-style-type: none;
}

.tel-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
  background: #82B3D3;
}

.catalog-filter-wrapper {
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url(../images/pictures/catalog-fon.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1060px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.form-button-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
}

.form-button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
}

.catalog-product-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-product-found-amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-sorting {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.option-sorting {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-list {
display: flex;
justify-content: flex-start;
width: 1060px;
margin: 0 auto;
flex-wrap: wrap;
list-style-type: none;
padding: 20px;
}

.product-card {
  width: 340px;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.product-card-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #756157;
}

.product-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #82B3D3;
}

.product-card-rate {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  }

  .product-card-favorite-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #7DB54F;;
  }

  .pagination {
    display: flex;
    margin: 0 auto;
  }

  .pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #82B3D3;
  }

  .pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  }
